<button
  class="bg-[#4b0a0a] rounded-md border-solid border-[#d70000] border-2 w-full py-3 font-sans text-white text-center text-balance text-md tracking-wider font-bold uppercase"
  style="box-shadow: 0px 0px 15px 0px rgba(215, 0, 0, 0.5)"
>
  <slot />
</button>
