---
import Skeleton from "src/components/ui/Skeleton.astro";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import PrimaryButton from "src/components/ui/PrimaryButton.astro";
---

<Layout>
  <section class="container mx-auto px-4 min-h-[87dvh]">
    <h1
      class="custom-padding text-lg-title text-center font-alfa-slab-one uppercase mt-8 [&>span]:text-primary-color"
    >
      Hagamos <span>este 2025</span> el año de <span>tu gran cambio</span>
    </h1>

    <div
      id="schedule-video"
      class="vsl-video observe-element h-auto aspect-video border-2 rounded-xl relative cursor-pointer border-primary-color/25 hover:border-primary-color/50 my-10 lg:w-[60%] mx-auto"
    >
      <Skeleton />
      <Icon
        name="play-icon"
        class="size-[60px] text-primary-color/30 absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 right-1/2"
      />
    </div>
    <p class="text-center text-sm">
      Reserva gratis tu cupo desde ya y podamos conocer tu caso para determinar
      de qué forma podemos ayudarte.
      <br />
      ¡Sólo debes programar una reunión conmigo en la fecha que veas mejor conveniente!
    </p>

    <div class="lg:w-[60%] mx-auto pt-10 pb-16">
      <PrimaryButton id="schedule-btn">¡Reservar ya!</PrimaryButton>
    </div>
  </section>

  <script>
    import { animate } from "framer-motion";

    const token = localStorage.getItem("form-token");

    if (!token) window.location.href = "/";
    console.log(token);

    const scheduleVideo = document.querySelector(
      "#schedule-video"
    ) as HTMLElement;
    const scheduleButton = document.getElementById(
      "schedule-btn"
    ) as HTMLButtonElement;

    scheduleButton?.addEventListener("click", () => {
      const calendlyLink = "https://calendly.com/d/cm4z-ctd-wp2/reunion-puntual";
      window.location.href = calendlyLink;
    });

    animate(
      scheduleVideo,
      { opacity: [0, 1], scale: [0, 1] },
      { duration: 1, ease: "easeInOut", type: "spring", mass: 0.5 }
    );
  </script>

  <style>
    .custom-padding {
      padding-top: calc(clamp(8rem, 12dvw, 6.5rem));
    }

    .vsl-video {
      box-shadow: 0px 0px 25px 0px rgba(215, 0, 0, 0.4);
      transition: box-shadow 0.3s ease;
    }

    .vsl-video:hover {
      box-shadow: 0px 0px 50px 0px rgba(215, 0, 0, 0.5);
    }
  </style>
</Layout>
