---
import { Icon } from "astro-icon/components";
import Form from "src/components/Form.tsx";
import Skeleton from "src/components/ui/Skeleton.astro";
---

<section
  style="
    background: radial-gradient(
      closest-side,
      rgba(22, 1, 1, 1) 0%,
      rgba(6, 0, 0, 1) 100%
    );"
  class="w-full max-w-[90%] lg:max-w-[60%] mx-auto"
>
  <div id="vsl-header" class="px-4">
    <h1
      class="[&>span]:text-primary-color text-white text-lg-title text-center text-balance font-alfa-slab-one leading-relaxed uppercase pt-8"
    >
      Te cuento c贸mo <span>puedes lograrlo...</span>
    </h1>

    <p
      class="block text-white leading-relaxed text-sm text-center text-pretty w-full mb-5 mt-2"
    >
      Mira el video completo para conocer con detalle c贸mo con mi plan he
      ayudado a cientos de personas a salir del estancamiento y conseguir sus
      objetivos.
    </p>
  </div>

  <div
    class="observe-element scale-50 opacity-0 h-auto aspect-video border-2 rounded-xl relative mt-8 cursor-pointer transition-transform duration-500 ease-out border-primary-color"
  >
    <Skeleton />
    <Icon
      name="play-icon"
      class="size-[60px] text-primary-color/30 absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 right-1/2"
    />
  </div>

  <div
    class="observe-element scale-50 opacity-0 transition-transform duration-500 ease-out size-full min-h-[300px] p-4 mt-12 bg-primary-color/10 rounded-lg border-2 border-primary-color flex flex-col justify-center"
    id="form-container"
  >
    <div id="form-wrapper" class="hidden">
      <Form client:visible />
    </div>
    <div class="size-full flex flex-col items-center" id="init-form">
      <p
        class="text-gray-400 leading-relaxed text-sm text-center text-balance w-full"
      >
        Responde las preguntas para conocerte mejor y programa una reuni贸n
        conmigo para ver c贸mo podemos ayudarte.
      </p>
      <button
        id="init-form-button"
        type="button"
        class="w-fit bg-primary-color/50 hover:bg-primary-color/30 transition-all text-sm leading-tight tracking-wide px-4 py-2 mt-5 mx-auto rounded-md flex items-center justify-between gap-4"
      >
        <Icon name="edit-icon" class="size-[20px]" />
        <span class="block size-fit">Iniciar formulario</span>
      </button>
    </div>
  </div>
</section>

<script>
  import { animate } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const $initForm = document.getElementById("init-form") as HTMLElement;
    const $initFormBtn = document.getElementById(
      "init-form-button"
    ) as HTMLElement;
    const $formWrapper = document.getElementById("form-wrapper") as HTMLElement;
    const $formContainer = document.getElementById(
      "form-container"
    ) as HTMLElement;

    $initFormBtn.addEventListener("click", () => {
      $formWrapper.classList.remove("hidden");
      $initForm.classList.add("hidden");
      $formContainer.classList.replace("justify-center", "justify-start");
    });

    const observeElements = document.querySelectorAll(
      ".observe-element"
    ) as NodeListOf<HTMLElement>;

    const observerOptions = {
      root: null,
      threshold: 0.1,
      rootMargin: "0px",
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // Al entrar en pantalla
          animate(
            entry.target,
            {
              scale: 1,
              opacity: 1,
            },
            {
              duration: 0.1,
              ease: "easeOut",
            }
          );
        } else {
          // Al salir de la pantalla
          animate(
            entry.target,
            {
              scale: 0.5,
              opacity: 0,
            },
            {
              duration: 0.1,
              ease: "easeIn",
            }
          );
        }
      });
    }, observerOptions);

    // Antes de observarlos, seteamos su estilo inicial
    observeElements.forEach((element) => {
      element.style.opacity = "0.8";
      observer.observe(element);
    });
  });
</script>

<style>
  .video-container {
    box-shadow: 0px 0px 20px 0px rgba(215, 0, 0, 0.5);
  }

  .video-container:hover {
    box-shadow: 0px 0px 30px 0px rgba(215, 0, 0, 0.5);
  }
</style>
