---
import PrimaryButton from "src/components/ui/PrimaryButton.astro";
import WhySectionImage from "@images/why-section-image.jpg";
import ModalForm from "src/components/ModalForm.astro";
import { AnimatePresence } from "framer-motion";
---

<section
  class="grid grid-cols-1 lg:grid-cols-2 items-center max-lg:justify-items-center gap-5 lg:gap-10 container mx-auto px-4 mb-36"
>
  <AnimatePresence>
    <ModalForm modalId="why-modal-form" />
  </AnimatePresence>

  <div class="space-y-5 w-[90%] text-center lg:text-start">
    <h1
      class="[&>span]:text-primary-color text-white text-lg-title text-balance font-alfa-slab-one leading-relaxed uppercase"
    >
      ¿Por qué elegir mi <span>plan de entrenamiento?</span>
    </h1>
    <p class="text-balance text-sm leading-relaxed">
      Estuve en esa "Zona de Confort Invisible", creyendo que solo entrenando
      más todo cambiaría. Con el tiempo aprendí que se puede salir del
      estancamiento. Ahora, con mi experiencia, te ofrezco un enfoque
      personalizado para transformar tu cuerpo y lograr tus metas de manera
      sostenible y con confianza.
    </p>
    <PrimaryButton id="open-modal-btn">Quiero cambiar ya!</PrimaryButton>
  </div>

  <div
    id="why-image-container"
    class="h-auto w-full aspect-video border-2 rounded-xl mt-8 transition-transform duration-500 ease-out border-primary-color"
    style="box-shadow: 0px 0px 25px 0px rgba(215, 0, 0, 0.5);"
  >
    <img
      src="/assets/images/why-section-image.jpg"
      alt="Una imagen de Néstor mostrando su cambio físico"
      class="size-full object-cover"
      style="border-radius: inherit;"
    />
  </div>
</section>

<script>
  import { animate } from "motion";

  const whyImageContainer = document.querySelector(
    "#why-image-container"
  ) as HTMLElement;
  const openModalBtn = document.getElementById(
    "open-modal-btn"
  ) as HTMLButtonElement;
  const modalForm = document.getElementById(
    "why-modal-form"
  ) as HTMLDialogElement;

  openModalBtn?.addEventListener("click", () => {
    document.body.style.overflow = "hidden";
    modalForm.showModal();
  });

  document.addEventListener("click", (event: MouseEvent) => {
    if (event.target === modalForm) {
      document.body.style.overflow = "auto";
      modalForm.close();
    }
  });

  if (whyImageContainer) {
    const observerOptions = {
      root: null,
      threshold: 0.3,
      rootMargin: "10px",
    };

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const { isIntersecting } = entry;

          if (isIntersecting) {
            animate(
              entry.target,
              { scale: 1 },
              { duration: 0.3, ease: "easeIn" }
            );
          } else {
            animate(
              entry.target,
              { scale: 0.6 },
              { duration: 0.3, ease: "easeOut" }
            );
          }
        });
      },
      { ...observerOptions }
    );

    observer.observe(whyImageContainer);
  }
</script>
