---
import "@fontsource/alfa-slab-one";
import { Image } from "astro:assets";
import TransparentBrandLogo from "@images/logo-transparent.png";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Néstor Árce | Personal Trainer</title>
  </head>
  <body>
    <nav
      class="bg-black/70 backdrop-blur-sm border-solid min-h-[10dvh] border-primary-color border-b-2 w-full flex items-center justify-center absolute top-0 z-50"
      style="box-shadow: 0px 10px 15px 0px rgba(215, 0, 0, 0.3);"
    >
      <Image
        class="w-nav-logo h-full"
        src={TransparentBrandLogo}
        alt="Nestor Arce Logo Oficial"
      />
    </nav>

    <main>
      <slot />
    </main>

    <footer
      class="min-h-[10dvh] grid place-content-center text-center text-sm border-t-2 border-primary-color"
      style="box-shadow: 0px -5px 15px 0px rgba(215, 0, 0, 0.2);"
    >
      Todos los derechos reservados.
    </footer>
  </body>
</html>

<style is:global>
  html {
    color-scheme: dark;
    background: #000;
  }

  body {
    font-family: "League Spartan Variable", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
</style>
